// Reset styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  // TODO: Implement large screen
  // @include respond(x-large-screen) {
  //   font-size: 75%; //1rem = 12, 12/16
  // }

  @include respond(large-screen) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(medium-screen) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(small-screen) {
  }

  @include respond(x-small-screen) {
    // width < 500?
    font-size: 46.87%; //1 rem = 7.5px, 8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light;
}
