body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $color-grey-dark;
}
.navigation__logo {
  text-decoration: none;
}

.navigation-heading {
  line-height: 4rem;

  span::after,
  span::before {
    text-decoration: none;
  }

  &--name {
    display: block;
    color: $color-primary;
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
  }

  &--phone {
    display: block;
    color: $color-secondary;
    font-size: 2.6rem;
  }
}

.navigation__links {
  a {
    text-transform: uppercase;
    text-decoration: none;

    font-size: 2.2rem;
    line-height: 2rem;

    color: $color-grey-dark;

    &:hover {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.landingHeader {
  &__text {
    letter-spacing: 0.5rem;
    line-height: 7rem;
    font-size: 10rem;

    text-transform: uppercase;
    color: $color-white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;

    &--main,
    &--sub {
      font-size: 6rem;
    }

    @include respond(x-small-screen) {
      line-height: 4rem;
      &--main,
      &--sub {
        font-size: 4.43rem;
      }
    }
  }

  &__button {
    font-size: 3rem;
  }
}

.card {
  &__title {
    font-size: 2.6rem;
    font-family: "lora";
    font-weight: bold;
    margin-top: 2.6rem;
  }

  &__text {
    text-align: center;
    margin-top: 1.4rem;
    font-size: 1.4rem;
  }
}

.quote {
  &__title {
    font-size: 3rem;
    color: $color-primary;
    margin-bottom: 3rem;
  }
  &__form {
    font-size: 1.8rem;
    color: $color-secondary;

    button {
      font-size: 1.8rem;
    }
  }
}

.contact {
  &__title {
    color: $color-primary;
    font-size: 3rem;
  }

  .details {
    margin-top: 3rem;
    font-size: 2rem;
    &__identifier {
      color: $color-primary;
    }

    &__info {
      color: $color-secondary;
    }
  }
}
