// Colors
$color-primary: #4e8565;
$color-primary-light: #7eb495;
$color-primary-dark: #355a44;

$color-secondary: #945038;
$color-secondary-light: #c1775c;
$color-secondary-dark: #593022;

$color-grey-light: #e5e5e5;
$color-grey-dark: #525251;

$color-white: #fff;
$color-black: #000;
