.landingContent {
  clip-path: polygon(0 0%, 100% 10rem, 100% 100%, 0 100%);
  margin-top: -7rem;
  padding-top: 11rem;
  padding-bottom: 3.5rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
